#message-post-text {
	width: 50%;
}

#message-list {
	
}

.message {
	padding: 7px;
	margin-bottom: 7px;
	border-bottom: 1px solid #eee;
}

.message .help {
	margin-bottom: 0px;
	padding-bottom: 0px;
	color: #888;
	font-size: 11px;
}

.message-other {
}

.message-self {
	background-color: #ffd;
}